.body {
    margin: 0px;
}

html, body, div {
    height: 100%;
}

canvas {
    background-color: #CCCCCC;
}

.vis-tooltip {
    position: absolute;
}
.popup {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
    width:150px;
    height:80px;
    background-color:#ffff00;
  }